{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            <h2> WELCOME LEGAL CHAIN !</h2>

            

            <ul>
                <li><a href="/docs/">Swagger API</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
        </section>
    </div>
{% endblock content %}
